@page "/"
<AuthorizeView>
    <Authorized>
        <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Github Username">
        <br />
        <button type="submit" class="btn btn-primary">Check Repos</button>
        <button type="submit" class="btn btn-primary">Change username</button>
        <button type="submit" class="btn btn-primary">Refresh</button>
    </Authorized>
    <Authorizing>Please wait...</Authorizing>
    <NotAuthorized>
        Not Auth.
    </NotAuthorized>
</AuthorizeView>